nav
{
    max-width: 1200px;
    mask-image: linear-gradient(0deg, rgba(255, 255, 255, .6) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0px;
    padding: 0px;
    text-align: left;
}
nav ul {
    text-align: left;
    background: linear-gradient(90deg, rgba(255, 231, 54, 0.28) 0%, rgba(163, 250, 207, 0.54) 50%, rgba(255, 228, 205, 0.33) 75%, rgba(255, 255, 255, 0) 100%);
    width: 600px;
    box-shadow: 10px 10px 25px rgb(107, 138, 139), inset 0 0 1px rgba(255, 255, 255, 0.6);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;

}
nav ul li {
    display: inline-block;
    height: 70px;
}
nav ul li a {
    padding: 20px;
    font-family: "Roboto";
    color: rgba(10, 1, 2, 0.75);
    text-shadow: 250px 140px 200px rgba(110, 49, 14, 0.06);
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
nav ul li a:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.17), inset 0px 0px 2px rgba(255, 65, 70, 0.29);
    background: rgba(240, 41, 69, 0.03);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.17);
    color: rgba(240, 41, 69, 0.89);
}
nav ul li ul{
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    display: inline;
    width: 150px;}
}
nav ul li:hover , li:active ul{
    visibility: visible;
}
